@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700%7CRoboto+Slab:400,700%7CRoboto:400,500,700,900&display=swap');

$color-primario: #47cfac;
$color-secundario: #e6e9ed;
$color-claro: #ffffff;
$color-oscuro: #000000;
$color-intermedio-1: #cdd2da;
$color-intermedio-2: #22272d;
$Fuente-1: "Roboto mono", monospace;

@mixin button {
    border: 1px solid $color-primario;
    padding: 10px 15px;
    font-size: 12px;
    border-radius: 4px;

    &:hover{
        border-color: $color-claro;
        background-color: $color-primario;
        color: $color-claro;
        
    }
}

@mixin info-box {
    display: grid;
    background-color: $color-secundario;
    padding: 0 50px 40px; 
    
    
}

.main-info {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;

    &-img-container {
        grid-column: 1;
        
        img {
            width: 95%;
        }
    }

    &-text-container{

        p {
            margin-bottom: 35px;
        }
    }
}

body {
    font-family: $Fuente-1;
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
    display: inline;
    color: $color-oscuro;
}

.grid-container {
    max-width: 980px;
    margin: 0 auto;
}

.contact-main-container {
    background-color: $color-secundario;
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0 100px;
    .contact-container {
        display: flex;
        align-items: center;
        width: 35%;
        img {
            width: 100px;
            margin-right: 20px;
        }
        a{
            text-decoration: underline;
            font-weight: 450;
        }
    }
}