@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700%7CRoboto+Slab:400,700%7CRoboto:400,500,700,900&display=swap');

$color-primario: #47cfac;
$color-secundario: #e6e9ed;
$color-claro: #ffffff;
$color-oscuro: #000000;
$color-intermedio-1: #cdd2da;
$color-intermedio-2: #22272d;
$Fuente-1: "Roboto mono", monospace;

@mixin button {
    border: 1px solid $color-primario;
    padding: 10px 15px;
    font-size: 12px;
    border-radius: 4px;

    &:hover{
        border-color: $color-claro;
        background-color: $color-primario;
        color: $color-claro;
        
    }
}

.grid-container {
    max-width: 980px;
    margin: 0 auto;
}

body {
    font-family: $Fuente-1;
    margin: 0;
    padding: 0;
}